# Local .terraform directories
.terraform/
.terraform/*

# Terraform state files (never push to Git!)
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log


# Provider plugins (HUGE files)
.terraform.lock.hcl
terraform-provider-*
